{% extends 'app/layout.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <div>
        {{ form_start(form) }}
        <div>
            {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
            <div class="error">{{ form_errors(form.email) }}</div>
        </div>
        <button type="submit" >{{ "Send reset token" | trans([], 'common') }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
